* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#F6F8F9 ;
}

/* header  */

header{
   padding: 10px 0px 5px 22px;
   background-color: white;
}

.logo-header {
    width: 60px;
    height: 60px;
    background-color: white;
    vertical-align: middle;
}

.title {
    color: #041931;
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

/* main  */
.container1 {
    background-color: white;
    width: 80%;
    margin: 170px auto;
    
}

.button1 {
    background-color: #47ADF1;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.button2 {
    background-color: white;
    color: lightgrey;
    padding: 8px;
    border-radius: 10px;
    border-color: lightgrey;
}